@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
/* Shared styles */
* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* dark 01 */
.dark1 {
  color: #1c1c1c;
}
.dark3 {
  color: #777777;
}
.dark7 {
  color: #f4f4f4;
}
.secondary-color {
  color: #ffffff;
}
